
@font-face {
  font-family: myFont;
  src: url(../Rajdhani-Regular.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: myFont;
}

.navBar{
  /* background-color: rgb(192, 223, 149); */
  border-radius: 4px; 
}

.navBar ul{
  overflow: auto;
  padding-bottom: 7px;
}

.navBar li{
  float: left;
  text-decoration: none;
  list-style: none;
  padding: 2px;
  margin-top: 7.5px;
}

.navBar a{
  font-size: large;
  text-decoration: none;
  margin: 0px 6px 0px 6px;
  padding: 6px;
  border-radius: 3px;
}

.navBar a:hover{
  color: rgb(232, 225, 225);
  background-color: rgb(162, 155, 155);
}

.navBar img{  
  position: absolute;
  top: 7px;
  left: 96%;
  height: 30px;
  width: 30px;
}


/* CSS for text form*/

.textForm textarea{
  width: 60%;
  height: 300px;
  padding: 5px;
  font-size: 17px;
}

.container{
  width: 55%;
  margin-top: 30px;
  position: absolute;
  left: 20%;
}

.container textarea{
  margin-top: 20px;
  width: 100%;
}

.container h2, p, button, input{
  padding: 5px;
  margin: 6px 4px 6px 1px;
  font-size: large;
}

.container input{
  width: fit-content;
  padding-left: 9.5px;
  padding-right: 9.5px;
}

.container img{
  position: relative;
  top : 2.8px;
  margin-left: 20px;
  height: 18px;
  width: 20px;
}

img:hover{
  cursor: pointer;
}

.container .output{
  width: 65%;
 word-wrap:break-word;
}
